<h1>{{title}}</h1>
<p>{{brand.name}}</p>
{{#each brand_products}}
  <ul>
    <li><a href="{{url}}">{{name}}</a></li>
      <p>{{description}}</p>
  </ul>
{{/each}}
<p>
  <a href="{{brand.url}}/delete">Delete Brand</a>
</p>