<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
{{#if error}}
  <p>Error getting the data</p>
{{else}}
  <p>SkateShop Inventory</p>
  <ul>
    <li>Number of Products: {{productCount}}</li>
    <li>Number of Brands: {{brandCount}}</li>
    <li>Number of Categories: {{categoryCount}}</li>
  </ul>
{{/if}}
